  *[b-fyxsoq6n12]{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .main[b-fyxsoq6n12]{
    background-color: white;
  }


  .first-tab[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content:space-around;
    padding: 20px;
    margin-bottom: 100px;
  }
  .second-tab[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
  }
  .second-tab-data[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .third-tab[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
  }
  .forth-tab[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
  }
  .fiveth-tab[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
  }
  .sixth-tab[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
  }
  .main-sixth-tab[b-fyxsoq6n12]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sixth-tab-data[b-fyxsoq6n12]{
    background-color: rgba(45, 83, 133, 0.418);
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap: 20px;
    padding: 20px;
    color: white;
    border-radius: 12px;
  }
  .row-data-view[b-fyxsoq6n12]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    align-items: center;
    border-bottom: 2px solid white;
  }
  .row-data-view h2[b-fyxsoq6n12]{
    font-size:23px;
  }



  nav[b-fyxsoq6n12]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(20, 82, 107);
    padding: 20px;
  }
  .credit-data[b-fyxsoq6n12]{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .footer[b-fyxsoq6n12]{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    background-color: rgb(20, 82, 107);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  .bt-nav-btn[b-fyxsoq6n12]{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 12px;
    color:white;
  }
  .bt-nav-btn:hover[b-fyxsoq6n12]{
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: 2px solid white;
    border-radius: 12px;
    color:black;
  }
  .nav-btn[b-fyxsoq6n12]{
    padding: 10px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
  }
  .nav-btn:hover[b-fyxsoq6n12]{
    padding: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    border: 2px solid rgb(201, 201, 201);
  }
  .nav-btn.active[b-fyxsoq6n12]{
    padding: 10px;
    font-size: 25px;
    background-color: white;
    color: black;
    border: 2px solid rgb(201, 201, 201);
  }
  input[b-fyxsoq6n12]{
    padding: 10px;
    border-radius: 12px;
    border: 3px solid black;
    font-size: 20px;
  }
  .in_btn[b-fyxsoq6n12]{
    padding: 10px;
    font-size: 25px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
  }
  .in_btn:hover[b-fyxsoq6n12]{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid blanchedalmond;
  }
  .input-item[b-fyxsoq6n12]{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    color: white;
  }

  .tab[b-fyxsoq6n12]{
    display: none;
  }

  .tab.active[b-fyxsoq6n12]{
    display: block;
  }

  table[b-fyxsoq6n12]{
    border: 2px solid white;
    padding: 5px;
    border-radius: 13px;
    background-color: rgb(193, 222, 255);
  }
  th[b-fyxsoq6n12], td[b-fyxsoq6n12]{
    padding: 3px;
    font-size: 20px;
    border:1px solid black;
    font-size: 25px;
  }

  .alert-view[b-fyxsoq6n12]{
    position: fixed;
    opacity: 0;
    margin-top: 20px;
    margin-right: 30px;
    padding: 5px;
    border-radius: 13px;
    top:0;
    right: 0;
    z-index: 1000;
    background-color: rgb(143, 255, 112);
    border:3px solid rgb(116, 220, 87);
  }
