  nav[b-ukw9x82tho]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(20, 82, 107);
    padding: 20px;
    font-size: 25px;
    color: white;
    border-bottom: 1px solid rgb(13, 51, 66);
    align-items: center;
  }
  a[b-ukw9x82tho]{
    color: white;
    text-decoration: none;
  }
    select[b-ukw9x82tho]{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 25px;
  }
  option[b-ukw9x82tho]{
    background-color: transparent;
    color: black;
  }