<nav>
        <h1>Lisa Kredit konveyeri</h1>
        <select name="" id="" onchange="send(this)">
            <option value=""><a href="">-------------------</a></option>
            <option value="products.html"><a href="products.html">Arizani yuborish</a></option>
            <option value="arizalar.html"><a href="arizalar.html">Arizalar tarixi</a></option>
        </select>
        <a href="">Dilmuhammad Sodirjon o‘g‘li Abduqodirov</a>
</nav>