@page "/Requests"

<NavBar/>
<div class="main">
        <h1>Arizalar</h1>
        <div class="ariza-container">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Contract ID</td>
                        <td>Sana</td>
                        <td>FIO</td>
                        <td>JSHSHIR</td>
                        <td>Ariza miqdori</td>
                        <td>Kredit maxsuloti</td>
                        <td>Foidalanuvchi</td>
                        <td>Filial</td>
                        <td>Xolati</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>123321</th>
                        <th>F13-099925</th>
                        <th>14.05.2025</th>
                        <th>Dilmuhammad Abduqodirov Sodirjon o‘g‘li</th>
                        <th>45254567484642345</th>
                        <th>10 000 000</th>
                        <th>Imkoniyat</th>
                        <th>D.S.Abduqodirov</th>
                        <th>Chirchiq filiali</th>
                        <th>berilgan</th>
                    </tr>
                    <tr>
                        <th>123321</th>
                        <th>F13-099925</th>
                        <th>14.05.2025</th>
                        <th>Dilmuhammad Abduqodirov Sodirjon o‘g‘li</th>
                        <th>45254567484642345</th>
                        <th>10 000 000</th>
                        <th>Imkoniyat</th>
                        <th>D.S.Abduqodirov</th>
                        <th>Chirchiq filiali</th>
                        <th>berilgan</th>
                    </tr>
                    <tr>
                        <th>123321</th>
                        <th>F13-099925</th>
                        <th>14.05.2025</th>
                        <th>Dilmuhammad Abduqodirov Sodirjon o‘g‘li</th>
                        <th>45254567484642345</th>
                        <th>10 000 000</th>
                        <th>Imkoniyat</th>
                        <th>D.S.Abduqodirov</th>
                        <th>Chirchiq filiali</th>
                        <th>berilgan</th>
                    </tr>
                    <tr>
                        <th>123321</th>
                        <th>F13-099925</th>
                        <th>14.05.2025</th>
                        <th>Dilmuhammad Abduqodirov Sodirjon o‘g‘li</th>
                        <th>45254567484642345</th>
                        <th>10 000 000</th>
                        <th>Imkoniyat</th>
                        <th>D.S.Abduqodirov</th>
                        <th>Chirchiq filiali</th>
                        <th>berilgan</th>
                    </tr>
                    <tr>
                        <th>123321</th>
                        <th>F13-099925</th>
                        <th>14.05.2025</th>
                        <th>Dilmuhammad Abduqodirov Sodirjon o‘g‘li</th>
                        <th>45254567484642345</th>
                        <th>10 000 000</th>
                        <th>Imkoniyat</th>
                        <th>D.S.Abduqodirov</th>
                        <th>Chirchiq filiali</th>
                        <th>berilgan</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>